<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>web.controller.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>web.controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>web.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>web.controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassServlet</servlet-name>
        <servlet-class>web.controller.ForgotPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>web.controller.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNewPassServlet</servlet-name>
        <servlet-class>web.controller.SetNewPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPatientProfileServlet</servlet-name>
        <servlet-class>web.controller.AddNewPatientProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatientProfileServlet</servlet-name>
        <servlet-class>web.controller.ViewPatientProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPatientProfileByIDServlet</servlet-name>
        <servlet-class>web.controller.LoadPatientProfileByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientProfileByIDServlet</servlet-name>
        <servlet-class>web.controller.UpdatePatientProfileByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatientProfileByIDServlet</servlet-name>
        <servlet-class>web.controller.DeletePatientProfileByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogServlet</servlet-name>
        <servlet-class>web.controller.CreateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogServlet</servlet-name>
        <servlet-class>web.controller.ViewBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>web.controller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>web.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBlogDetailServlet</servlet-name>
        <servlet-class>web.controller.ViewBlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogServlet</servlet-name>
        <servlet-class>web.controller.UpdateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>web.controller.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogServlet</servlet-name>
        <servlet-class>web.controller.SearchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSpecialtyListServlet</servlet-name>
        <servlet-class>web.controller.LoadSpecialtyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <servlet-class>web.controller.ViewUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServiceServlet</servlet-name>
        <servlet-class>web.controller.CreateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountsServlet</servlet-name>
        <servlet-class>web.controller.ViewAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseReservationServlet</servlet-name>
        <servlet-class>web.controller.ChooseReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutReservationServlet</servlet-name>
        <servlet-class>web.controller.CheckoutReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceToCartServlet</servlet-name>
        <servlet-class>web.controller.AddServiceToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServiceFromCartServlet</servlet-name>
        <servlet-class>web.controller.RemoveServiceFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUpdateReservationServlet</servlet-name>
        <servlet-class>web.controller.LoadUpdateReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassServlet</servlet-name>
        <url-pattern>/ForgotPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/ResetPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNewPassServlet</servlet-name>
        <url-pattern>/SetNewPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPatientProfileServlet</servlet-name>
        <url-pattern>/AddNewPatientProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatientProfileServlet</servlet-name>
        <url-pattern>/ViewPatientProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPatientProfileByIDServlet</servlet-name>
        <url-pattern>/LoadPatientProfileByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientProfileByIDServlet</servlet-name>
        <url-pattern>/UpdatePatientProfileByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatientProfileByIDServlet</servlet-name>
        <url-pattern>/DeletePatientProfileByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogServlet</servlet-name>
        <url-pattern>/CreateBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogServlet</servlet-name>
        <url-pattern>/ViewBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBlogDetailServlet</servlet-name>
        <url-pattern>/ViewBlogDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogServlet</servlet-name>
        <url-pattern>/UpdateBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/DeleteBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogServlet</servlet-name>
        <url-pattern>/SearchBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSpecialtyListServlet</servlet-name>
        <url-pattern>/LoadSpecialtyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfileServlet</servlet-name>
        <url-pattern>/ViewUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServiceServlet</servlet-name>
        <url-pattern>/CreateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountsServlet</servlet-name>
        <url-pattern>/ViewAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseReservationServlet</servlet-name>
        <url-pattern>/ChooseReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutReservationServlet</servlet-name>
        <url-pattern>/CheckoutReservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceToCartServlet</servlet-name>
        <url-pattern>/AddServiceToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServiceFromCartServlet</servlet-name>
        <url-pattern>/RemoveServiceFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUpdateReservationServlet</servlet-name>
        <url-pattern>/LoadUpdateReservationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SWP391</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
