<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>web.controller.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>web.controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>web.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>web.controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassServlet</servlet-name>
        <servlet-class>web.controller.ForgotPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>web.controller.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNewPassServlet</servlet-name>
        <servlet-class>web.controller.SetNewPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPatientProfileServlet</servlet-name>
        <servlet-class>web.controller.AddNewPatientProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPatientProfileServlet</servlet-name>
        <servlet-class>web.controller.ViewPatientProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassServlet</servlet-name>
        <url-pattern>/ForgotPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/ResetPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNewPassServlet</servlet-name>
        <url-pattern>/SetNewPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPatientProfileServlet</servlet-name>
        <url-pattern>/AddNewPatientProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPatientProfileServlet</servlet-name>
        <url-pattern>/ViewPatientProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SWP391</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
