/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2021, 9:22:51 AM
    Author     : HOANGKHOI
*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 4rem;
}

.wrapper form {
    width: 100%;
}
