/* ------- General ----*/
body {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.top_title {
    font-size: 2rem;
}

.main_wrapper {
    display: flex;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    min-height: 100vh;
}

.main_left {
    padding-left: 0;
}

.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #3fbbc0;
    bottom: 0;
    left: calc(50% - 25px);
}

.section .section_moredetail {
    align-self: flex-end;
}

/*------ Carousel section */
.carousel_wrapper {
    margin-bottom: 2rem;
}

.carousel-control-next, .carousel-control-prev {
    width: min-content;
}

.carousel_caption-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
    color: #fff;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
    background: rgba(0, 0, 0, 0.4);
}

.carousel_caption-overlay h5 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 600;
}

/* --------- Blog post section  ---------*/
.blog_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.blog_card {
    transition: 300ms ease-in;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.blog_card:hover {
    transform: scale(1.03);
}

.blog_card article {
    width: 100%;
}
.blog_content h2 {
    font-size: 18px;
}
.blog_content h2:hover {
    color: #007bff;
}
.blog_thumbnail {
    margin-bottom: 1rem;
    width: 100%;
    height: 25vh;
}

.blog_thumbnail img {
    width: 100%;
    height: 100%;
}

.blog_content div {
    border-top: solid 2px #efefef;
    text-align: right;
    font-size: 14px;
    color: #999999;
}

.main-right {
    display: flex;
    flex-direction: column;
}

/* ------- Appoinment section ------*/
.cta {
    background: #5bc0de;
    color: #fff;
    background-size: cover;
    padding: 40px 0;
    margin-bottom: 2rem;
}

.cta h3 {
    font-size: 28px;
    font-weight: 700;
}

.cta .cta-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #fff;
    color: #3fbbc0;
}

/*----- Back to top -------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #1977cc;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #1c84e3;
    color: #fff;
}

/*---- Right Post section -------*/
.right-post-section {
    background-color: #fff;
    border: 1px solid #000;
    padding: 1rem;
}

.right-post-section h4 {
    text-align: center;
}

.right-post-card {
    margin: 1rem 0;
}

.right-active-section {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.active-title {
  padding: 5px;
  border-bottom: solid 1px #fff;
}

